<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let feed of feeds">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{feed.name}}</h5>
        <p class="card-text">{{feed.description}}</p>
      </div>
    </div>
  </div>
</div>
