<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" *ngIf="!isLoggedIn()" routerLink="/login">Feed News</a>
  <a class="navbar-brand" *ngIf="isLoggedIn()" routerLink="/feeds">Feed News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/feeds" routerLinkActive="active">Feeds</a>
      </li>-->
    </ul>
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" *ngIf="isLoggedIn()" routerLink="/feeds" routerLinkActive="active">Feeds</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
